/***********************************************
fcoo-application-base-color-mixin

Defines application-base-color = Background color for loading etc.
************************************************/

$fcoo-app-default-base-color     : #3f5b58;  //DALO color in "Forsvarsministeriets koncernfælles Designmanual 2018"
$fcoo-app-default-base-text-color: #ffffff;

@mixin application-base-color($color){
    :root {
        --_fcoo-app-base-color     : #{$color};
        --_fcoo-app-base-text-color: #{ch-best-color-contrast($base: $color, $colors: (#ffffff, #000000), $tolerance: 0)};
    }
}
