@charset "UTF-8";
/***********************************************
fcoo-application-logo-and-color.scss,

Defines default application-color
************************************************/
/***********************************************
Defines --fcoo-app-base-color and --fcoo-app-base-text-color
Defaults is = DALO color in "Forsvarsministeriets koncernfælles Designmanual 2018"
Can be changed by mixin application-base-color( new-color ) in src/_fcoo-application-base-color-mixin.scss
************************************************/
/***********************************************
fcoo-application-base-color-mixin

Defines application-base-color = Background color for loading etc.
************************************************/
:root {
  --_fcoo-default-app-base-color: #3f5b58;
  --fcoo-app-base-color: var(--_fcoo-app-base-color, var(--_fcoo-default-app-base-color));
  --_fcoo-default-app-base-text-color: #ffffff;
  --fcoo-app-base-text-color: var(--_fcoo-app-base-text-color, var(--_fcoo-default-app-base-text-color));
}