/***********************************************
fcoo-application-logo-and-color.scss,

Defines default application-color
************************************************/
//BOURBON - http://bourbon.io/
@import "../bower_components/bourbon/core/bourbon";

//MODERNIZR-MIXIN - https://github.com/danielguillan/modernizr-mixin
@import "../bower_components/modernizr-mixin/stylesheets/modernizr";

//MATHSASS - https://github.com/terkel/mathsass
@import "../bower_components/mathsass/dist/math";

//MODERNIZR-SCSS - https://github.com/FCOO/modernizr-scss
@import "../bower_components/modernizr-scss/dist/modernizr-scss";

//COLOR-HELPER
@import "../bower_components/sass-color-helpers/stylesheets/color-helpers";



/***********************************************
fcoo-application-loading
***********************************************/
@import "fcoo-application-loading";

/***********************************************
Defines --fcoo-app-base-color and --fcoo-app-base-text-color
Defaults is = DALO color in "Forsvarsministeriets koncernfælles Designmanual 2018"
Can be changed by mixin application-base-color( new-color ) in src/_fcoo-application-base-color-mixin.scss
************************************************/
@import "fcoo-application-base-color-mixin";

:root {
    --_fcoo-default-app-base-color     : #{$fcoo-app-default-base-color};
    --fcoo-app-base-color              : var(--_fcoo-app-base-color, var(--_fcoo-default-app-base-color));

    --_fcoo-default-app-base-text-color: #{$fcoo-app-default-base-text-color};
    --fcoo-app-base-text-color         : var(--_fcoo-app-base-text-color, var(--_fcoo-default-app-base-text-color));

}